/* Global Styles */
body {
  font-family: Poppins, Arial, sans-serif;
  background: #191627;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative;
}

/* Header Styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #191627;
}

/* Input Styles */
.inputbox {
  box-shadow: 0 10px 36px 0 rgba(79, 77, 180, 0.1),
    0 0 0 1px rgba(151, 87, 208, 0.01);
}

.input {
  background: #211d35;
}

/* Timeline Styles */
.timeline {
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #6e57e0;
}

.timeline .timeline-item {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.timeline .timeline-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: #6e57e0;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline .timeline-content {
  width: 47%;
}

/* Miscellaneous Styles */
.text-center {
  text-align: center;
}

.underline {
  text-decoration-line: underline;
}

/* Add more styles here as needed */
